@charset "utf-8";
/* Base Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}
:focus { outline:0;}
img { border:0;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}
.clear { width:100%; height:0; line-height:0; font-size:0; overflow:hidden; clear:both; display:block; _display:inline;}
.none { display:none;}
.hidden { visibility:hidden;}
.clearfix:after{clear: both;content: ".";display: block;height: 0;visibility: hidden;}
.clearfix{display: block; *zoom:1;}

/**布局开始**/
body { }
body,p { font:12px/1 "\u5b8b\u4f53", Tahoma, Geneva, sans-serif; color:#666666;font-family: "Microsoft YaHei"; }
a { color:#666666; text-decoration:none; font-family:"微软雅黑";}
a:hover { color:#cd0200;}
.wrapper { width:100%; margin:0 auto;}
.wrapper .inner { width:1000px; margin:0 auto;} /**页面全局宽度**/

/**标题栏新闻窗口**/
.post { }
.post .tt { height:32px; background:url(images/border-1.jpg) no-repeat 0 bottom;} /**标题栏**/
.post .tt .tit { display:inline-block; float:left; font-size:16px; font-weight:normal; color:#404040;} /**标题字体**/
.post .tt .tit .title { display:inline-block; height:32px; line-height:32px;font-family: "微软雅黑";} /**标题图标**/
.post .tt .more_btn { display:inline-block; height:32px; line-height:32px; float:right; }   /**更多按钮**/
.post .tt .more_btn a{ color:#de0032;font-family: "微软雅黑";}
.post .con {  margin:0 auto; padding-top:15px;}
.post .con .wp_article_list .list_item { border-bottom:1px dashed #ccc;} /**新闻列表**/
.post .con .wp_article_list .list_item .Article_Index { background:url(images/li.gif) no-repeat center;} /**新闻列表图标**/
.post .contab { margin:0 auto; padding-top:15px; height:195px;}
/**自定义新闻列表**/
.news_list {}
.news_list li.news { line-height:24px; padding-left:13px; background:url(images/icon_li0.gif) no-repeat 0 9px;} /**标题图标**/
.news_list li.news span.news_title { float:left;}
.news_list li.news span.news_meta { float:right; margin-left:2px;}
.news_list li.news p {clear:both; line-height:20px; color:#787878;}
.news_list li.news p a { color:#787878;}
.news_list li.news p a:hover { color:#444; text-decoration:underline;}


/**页头开始**/
#header {}
#header .inner {}
.head { width:100%; height:125px; position:relative; background:url(images/head-bg.png) no-repeat 0 0;}    /**页头部分**/
.head .sous{ width:185px;height:30px; position:absolute;top:65px;right:20px;}
.head .english{ left:356px;top:75px;position:absolute; width:44px;height:11px;}
.head .head-dh{ width:270px;height:30px;position:absolute;top:25px;right:7px;}
.head .sitetitle { position:absolute; left:366px; top:48px; font-size:32px; font-weight:bold; color:#fff;}		/**站点名称**/
.navbar { width:100%; height:52px; border-top:1px solid #dedede;}   	/**导航区域背景**/
.navbar .navbox { width:1000px; height:52px; margin:0 auto;}   /**导航窗口大小及位置**/

/**导航样式：后台绑定时也可以定义配置**/
.navbar .navbox .wp_nav,.navbar .navbox .nav { height:40px;}  /**导航高度**/
.navbar .navbox .wp_nav li.nav-item a { font-size:16px; font-weight:bold; color:#fff;}    /**导航字体样式**/
.navbar .navbox .wp_nav li.nav-item a:hover,.navbar .navbox .wp_nav li.nav-item a.parent{ color:#F90;}   	/**鼠标经过或当前选中时样式**/
.navbar .navbox .wp_nav li.nav-item a span.item-name { padding:0 10px; height:40px; line-height:40px;}   /**导航栏目高度与边距**/

.wp_nav .sub-nav{ top:40px!important; border:none;}/*子菜单位置*/
.wp_nav .sub-nav .nav-item a{ border-top:none;}/*去边框*/

.navbar .navbox .wp_nav .sub-nav li.nav-item i.mark { background:#0777b3;}  /**子菜单背景**/
.navbar .navbox .wp_nav .sub-nav li.nav-item a { font-size:14px; font-weight:normal; background:none;color:#fff;}		/**子菜单字体样式**/
.navbar .navbox .wp_nav .sub-nav li.nav-item a:hover,.navbar .navbox .wp_nav .sub-nav li.nav-item a.parent { background:#1F5E7C; color:#fff;}
.navbar .navbox .wp_nav .sub-nav li.nav-item a span.item-name { padding:0 10px; height:26px; line-height:26px;}		/**子菜单栏目高度与边距**/

/**主体开始**/
#container-2{ margin-bottom:23px;}
#container-2 .cont-1{ width:315px;float:left; margin-top:20px; margin-left:20px;}
#container-2 .cont-1 .cont-1-b{ margin-top:15px;}
#container-2 .cont-2{ width:315px;float:left; margin-top:20px; margin-left:40px;}
#container-2 .cont-2 .cont-b{ margin-top:15px;}
#container-2 .cont-3{ width:250px;float:right; margin-top:20px; margin-right:20px;}

#container-4{ background:url(images/list-tu-bg.jpg) repeat-x 0 0;}
#container-4 .inner{ height:150px; background:url(images/list-tup.jpg) no-repeat 0 0;}

#container {}
#container .inner { background:#fff; width:1000px;}

/**首页三列布局**/
.mod {}
.mod1 { width:236px; float:left;} /**左列**/
.mod1 .ml { width:100%;} 
.mbox { padding:0 10px; border:1px solid #d3d3d3; background:#f9f8fd;}
.mod2 { width:728px; float:right;}
.mod2 .mc { width:478px; float:left;} /**中间**/
.mod2 .mr { width:236px; float:right;} /**右列**/

/**列表页**/
.col_menu {
	width: 200px;
	float: left;
	margin-top: 33px;
	background-color: #0068b7;
	border-bottom: 1px solid #dddddd;
} 
.col_menu .col_menu_head {
	text-align: center;
	height: 68px;
	line-height: 68px;
	color: #fff;
	font-size: 32px;
	width: 200px;
}   /**位置栏目背景**/
.col_menu .col_menu_head h2.col_name { font-size:18px; font-weight:bold; color:#fff; }		/**位置栏目字体**/
.col_menu .col_menu_head h2.col_name .col_name_text { display:block; line-height:34px;}  /**栏目名称图标**/
 /**栏目列表*/
.col_list .wp_listcolumn { border-top:none; border-bottom:none; }
.col_list .wp_listcolumn .wp_column a { color:#666; background:transparent; border-top:none; border-bottom:1px solid #ccc; text-align:center;} 	/**一级子栏目**/
.col_list .wp_listcolumn .wp_column a:hover,.col_list .wp_listcolumn .wp_column a.selected { color:#fff; background:#52a3db;} 	/**鼠标经过或选中一级子栏目**/
.col_list .wp_listcolumn .wp_column a.selected span.column-name{ color:#fff;}
.wp_listcolumn .wp_column a .column-name{ border-left: 1px solid #575757;padding: 0px 10px 0px 10px;margin-top: 14px;border-right: 1px solid #575757;}  /*系统自己的样式，让元素居中*/
.col_menu_con{ background-color:#ffffff; padding-top:22px;border-left: 20px solid #0068b7;}

.col_list .wp_listcolumn .wp_subcolumn .wp_column a { color:#454545; background:transparent; border-top:1px solid #fff; border-bottom:1px solid #bbb;} 	/**二级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_column a:hover,.col_list .wp_listcolumn .wp_subcolumn .wp_column a.selected { color:#fff; background:#52a3db;} 	/**鼠标经过或选中二级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_column a.selected span.column-name{ color:#fff;}

.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a { background:#f2f2f2 url(images/icon_column_3.gif) no-repeat 26px 10px; border-top:1px solid #fff; border-bottom:1px solid #ccc;} 	/**三级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a:hover,.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected { color:#000; background-image:url(images/icon_column_3_hover.gif);} 	/**鼠标经过或选中三级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected span.column-name{ color:#124D83;}

.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a { background:#f5f5f5 url(images/icon_column_3.gif) no-repeat 36px 10px; border-top:1px solid #fff; border-bottom:1px solid #ddd;} 	/**四级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a:hover,.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected { color:#000; background-image:url(images/icon_column_3_hover.gif);} 	/**鼠标经过或选中四级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected span.column-name{ color:#124D83;}

.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a { background:#f9f9f9 url(images/icon_column_3.gif) no-repeat 46px 10px; border-top:1px solid #fff; border-bottom:1px solid #eee;} 	/**五级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a:hover,.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected { color:#000; background-image:url(images/icon_column_3_hover.gif);} 	/**鼠标经过或选中五级子栏目**/
.col_list .wp_listcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_subcolumn .wp_column a.selected span.column-name{ color:#124D83;}

.col_news {
	width: 772px;
	float: right;
	margin-top: 33px;
	min-height: 600px;
} /**栏目新闻**/
.col_news_head { border-bottom:1px solid #dddddd;}
.col_news_head .list-wz{ height:60px;line-height:60px; font-size:14px;}
.col_news_head .list-wz a{ color:#202020; display:inline-block;padding: 0 15px; background:url(images/list-y.jpg) no-repeat right center; padding-left:0px;}
.col_news_head .lm{ height:32px;line-height:32px; color:#0068b7; font-size:32px;font-family: "微软雅黑";}
.col_news_head .list-wz .a1{ background:none;padding-left:0px;}
.col_metas .col_title { display:inline-block; float:left; height:30px; line-height:30px; }  /**当前栏目**/
.col_metas .col_title h2 { display:inline-block; font-size:18px; font-weight:bold; color:#000;}   /**当前栏目名称**/
.col_metas .col_path { display:inline-block; float:right; white-space:nowrap; height:18px; line-height:18px; margin-top:5px;} /**当前位置**/

.col_news_box { padding:10px 0; margin:0 7px;}
.col_news_list { margin-top:17px;}
.col_news_list .wp_article_list .list_item { border-bottom:none;height:26px;line-height:26px;}  /**栏目新闻列表**/
.col_news_list .wp_article_list .list_item .Article_Index { background:url(images/li.gif) no-repeat center;height:22px;}  /**栏目新闻图标序号**/
.col_news_list .wp_entry,.col_news_list .wp_entry p { line-height:150%;; font-size:14px; color:#333;text-justify: inter-ideograph;}
.col_news_list .wp_entry p { margin-bottom:6px;}
.col_news_list .wp_entry img { max-width:680px; _width:expression(this.width > 680 ? "680px" : this.width); }   /**列表页文章图片大小限制**/

/**文章页**/
.infobox {
	margin: 0 auto;
	min-height: 750px;
	width: 100%;
}
.article {}
.article h1.arti_title {
	line-height: 30px;
	padding-top: 30px;
	text-align: center;
	font-family:"微软雅黑"; 
	font-size:15pt; 
	color:#267cc9; 
	
}

.article h1.Subtitle {
	line-height: 30px;
	text-align: center;
	font-family:"微软雅黑"; 
	font-size:13pt; 
	color:#267cc9; 
	
}
 /**文章标题**/
.article .arti_metas { padding:10px; text-align:center;}
.article .arti_metas span {
	margin: 0 5px;
	font-size: 13px;
	color: #8e8d8d;
}
.article .entry { margin:0 auto; overflow:hidden;} /**文章内容**/
.article .entry .read,.article .entry .read p { line-height:150%; font-size:14px; color:#333; text-justify: inter-ideograph;}  /**阅读字体**/
.article .entry .read p { margin-bottom:6px;}
.article .entry .read img { max-width:680px; _width:expression(this.width > 680 ? "680px" : this.width); }   /**文章阅读部分图片大小限制**/
.lgyx_entry { width:686px; float:left; padding-left:40px;}

/**页脚开始**/
#footer { border-top:1px solid #cccccc; background-color:#444444;}
#footer .inner { background:url(images/foot-bg.jpg) no-repeat 0 0; height:90px; position:relative;}
#footer .inner .foot-1{ position:absolute;left:304px;top:23px;width:440px;height:60px;}
#footer .inner .lianj{ position:absolute;left:760px;top:28px;width:200px;height:34px;}
#footer .inner .biaozhi{ position:absolute;left:900px;top:2px;width:80px;height:80px;}
#footer .inner .lianj a{ margin-left:10px;}
#footer .inner p { font-size:12px; line-height:20px;  color:#9a9a9a;}
#footer .inner p span { margin:0 3px;}

.nav-1 li{ float:left; line-height:30px;}
.nav-1 li a{ display:inline-block;padding:0 10px; background:url(images/head-li.jpg) no-repeat right center;}

.nav-2 li{ float:left; line-height:52px;}
.nav-2 li a{ display:inline-block; padding:0px 17px; color:#888888; font-size:15px;}

#container-3{ border-top:1px solid #cccccc;}
#container-3 .inner{ height:37px;}
.nav-3 li{ float:left; line-height:37px;}
.nav-3 li a{ display:inline-block;padding: 0 24px !important; background:url(images/nav-3-li.jpg) no-repeat right center; color:#080808 !important; font-size:14px;}

.xw-bt{ width:260px;float:left;}
.xw-sj{ width:40px; float:right;}

.xinw li{ line-height:30px; padding-left:15px; background:url(images/li-tt.jpg) no-repeat left center; border-bottom:1px dotted #ddd; display:inline-block; width:315px;}
.laiyuan {
	float:left; width:90px;
}
.fb-sj{ width:46px;height:50px;float:left; background:url(images/shij-bg.jpg) no-repeat 0 0; text-align:center; margin-top:20px;}
.fb-sj .nian{ height:24px;line-height:24px; color:#fff; font-size:14px;}
.fb-sj .y-r{ height:26px;line-height:26px;color:#0395e1; font-size:12px;}
.nei-r{ width:188px;float:right; margin-top:10px;}

.xshd li{ height:86px; border-bottom:1px dotted #dddddd;}
.xshd .i4{ border-bottom:0;}
.xshd li .nei-r{}
.xshd li .nei-r p{ line-height:22px;color:#000;}

.cont-1-t .con-1{ border-bottom:1px solid #dedede; padding-bottom:7px;}
.cont-1-t .con-2{ padding-top:7px;}
.con-1 .biaoti{ line-height:28px; text-align:center;}
.con-1 .biaoti a{ font-size:15px; color:#000;}
.con-1 .fubt{ color:#676767; font-size:12px; line-height:28px; text-align:center;}
.con-1 .jianj{ line-height:20px; color:#666666; text-indent:2em;}

.tu-q-1{ border:1px solid #555; width:312px; overflow:hidden;}

.cont-3-t .con{ padding-top:0px;}

.col_menu_con ul li{ height:49px;line-height:49px; text-align:center; border-top:1px solid #dddddd;}
.col_menu_con ul li a{ font-size:14px; color:#202020;display: inline-block;height: 49px;line-height: 49px;padding: 0 15px; background:url(images/list-li.jpg) no-repeat 0 center;}
.col_menu_con ul li a:hover{}

.list-bt{ float:left; width:620px;}
.list-sj{ float:right; width:100px;}
.list-wzlb li{ height:34px;line-height:34px; padding-left:35px; background:url(images/list-wz-li.jpg) no-repeat 13px center; color:#8e8d8d; font-size:14px;}
.list-wzlb li a{ color:#8e8d8d;}

.col_news_con{ margin:20px 0;}
.wp_entry {
    width: 100%;
    line-height: 1.7em;
    font-size: 13px;
    color: #333;
    overflow: hidden;
}
.entry { margin:20px auto; overflow:hidden;margin:0 auto; overflow:hidden;margin-top:20px;}
.entry p { line-height:1.6; font-size:12px; color:#5a595a;}
.entry img { max-width:940px; _width:expression(this.width > 940 ? "940px" : this.width); }
.entry  p { margin-bottom:6px;}

.search{ width:45px !important;height:30px !important; background:url(images/sous-bg.jpg) no-repeat 0 0 !important; border:0 !important;}

.hd-top{ height:50px; position:relative;}
.hd-top .top{ position:absolute; display:inline-block; width:41px;height:13px; background:url(images/top-bg.jpg) no-repeat 0 0;top:20px;right:10px;}
div#wp_news_w5 .biaoti a {color: #286cc9;}
input#keyword { height:24px;}
.wp_nav .nav-item a { font-family: "微软雅黑";}
#wp_nav_w2 .wp_nav .nav-item a {height: 52px;
    padding: 0px 15px;
    font-size: 16px;
    color: #888888;}
#wp_nav_w2 .wp_nav .nav-item a span.item-name { padding: 0px;line-height: 52px;}
.possplit { background:none;}
.infocon { width:505px; float:left;}
.infocon-jj { width:770px; float:left;}
.infopic { width:220px; float:right; margin-right:19px; margin-top:50px;}
.infocontent { width:725px; float:left;}
.wp_listcolumn .wp_column a { border-bottom:0px; border-top:0px; background:none; padding:0px; text-align:center; width:160px; font-size:17px; font-weight:normal;}
.wp_listcolumn { border-top:0px;}
.wp_listcolumn .wp_column a:hover { background:none;color: #ffbb00;}
.wp_listcolumn .wp_column a.selected { background:none;color: #ffbb00;}
span.Column_Anchor {font-family: "微软雅黑";}
.more {position: absolute;
    top: -25px;
    right: 3px;
}
.more a { color: #de0032;}
#wp_news_w32 .wp_article_list .list_item .Article_Index { background:url(images/sp.png) no-repeat; margin-top: 0px;height: 20px;width: 30px;}
#wp_news_w32 .wp_article_list .list_item {height: 26px;line-height: 26px;border-bottom: 1px dashed #eeeeee;}
